

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --yellow-rgb: 253, 198, 97;
  --light-blue-rgb: 175, 221, 237;
  --dark-blue-rgb: 62, 107, 127;
  --blue-rgb: 58, 112, 132;
  --deep-blue-rgb: 36, 85, 102;
  --brown-rgb: 141, 120, 99;
  --light-schell-rgb: 255, 251, 240;
}


body {
  margin: 0;
  width: 100vw;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--light-schell-rgb))
    )
    rgb(var(--yellow-rgb));
}


header {
  display: flex;
  height: fit-content;
  width: 100%;
  background-color: rgb(var(--blue-rgb));
  margin-bottom: 14px;
  padding: 10px;
  justify-content: flex-end;
  position: sticky;
}

.main-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(var(--dark-blue-rgb), 0.2);
  margin: 10px 10px 20px 10px;
  padding: 10px;
  border-radius: 10px;
  width: 85%;
  box-shadow: 2px 3px 4px rgb(var(--deep-blue-rgb), 0.3);
}

.current-weather-image {
  width: 120px;
  height: 120px;
}

.current-temperature-container {
  display: flex;
  flex-direction: column;
}

.current-temperature {
  font-size: xxx-large;
}


.current-weather-numbers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin-bottom: 14px;
}

.current-card-icon {
  width: 32px;
  height: 32px;
}

.current-card-icon-text {
  align-content: center;
}

.current-icon-number {
  display: flex;
  gap: 6px;
}

.cloud-desc-text {
  text-align: center;
}

.forecast-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 85%;
  margin-bottom: 12px;
}

.forecast-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  width: 95%;
  margin-top: 10px;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-big-icon {
  width: 100px;
  height: 100px;
}

.forecast-max-temp {
  font-size: xx-large;
}

.forecast-card-icon {
  width: 20px;
  height: 20px;
}
.forecast-number-icon-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 12px;
}

.forecast-number-icon {
  display: flex;
  gap: 10px;
}

.search-bar {
  display: flex;
  gap: 5px;
  width: 75%;
  height: 30px;
}

.search-input {
  width: 70%;
  border-radius: 10px;
  padding-left: 20px;
}

.search-button {
  background-color: rgba(255, 109, 47, 0.98);
  border-radius: 10px;
  margin-left: 2px;
  padding: 0 10px;
}

footer {
  width: 100%;
  background-color: rgb(var(--yellow-rgb));
  padding-left: 10px;
}